* {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}
body {
  background: linear-gradient(333deg, rgba(0,0,0,1) 0%, rgba(79,78,78,1) 62%);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  color: #38b6ff;
  font-weight: 600;
  margin-bottom: 0%;
}
h4 {
  color: #FFF;
  margin-top: 0%;
  margin-bottom: 4%;
}
div .App { 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
div .sign-in-ui{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sign-in-out {
  border: none;
  border-radius: 25px;
  color:#FFF;
  background: #38b6ff;
  padding: 6px 12px;
  cursor: pointer;
}
.sign-in-out :hover {
  border: 15px #fff;
  border-radius: 25px;
  color:red;
}
div .header-logo {
  display:flex;
  justify-content: center;
  align-items: center;
}
.sign-in-image {
  padding-top: 20px;
  width: 75px;
}
