* {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}
body {
  background: linear-gradient(333deg, rgba(0,0,0,1) 0%, rgba(79,78,78,1) 62%);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  color: #38b6ff;
  font-weight: 600;
  margin-bottom: 0%;
}
h4 {
  color: #FFF;
  margin-top: 0%;
  margin-bottom: 6%;
}
div .App { 
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div .sign-in-ui{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sign-in-out {
  border: 2px solid transparent;
  border-radius: 25px;
  color:#FFF;
  background: #38b6ff;
  padding: 6px 12px;
  cursor: pointer;
}
button#sign-in:hover {
  border: 2px solid #fff;
}
div .header-logo {
  display:flex;
  justify-content: center;
  align-items: center;
}
.sign-in-image {
  padding-top: 20px;
  width: 75px;
}

#task-header {
  margin-top:auto;
  color: #fff;
  /* background-image: linear-gradient(53deg, rgba(20,23,210,1) 0%, rgba(56,182,255,1) 100%);
  background-clip: text;
  color: transparent; */
}
.todo-row-complete {
  text-decoration: line-through;
  opacity: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  background: rgb(20,23,210);
  background: linear-gradient(53deg, rgba(20,23,210,1) 0%, rgba(56,182,255,1) 100%);
  border-radius: 5px;
}
.todo-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  background: rgb(20,23,210);
  background: linear-gradient(53deg, rgba(20,23,210,1) 0%, rgba(56,182,255,1) 100%);
  border-radius: 5px;
}
.delete-button {
  cursor: pointer;
  padding-right: 10px;
}
.todo-form {
  display: flex;
  padding-top: 10px;
  padding-bottom: 15px;
  justify-content: center;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
#task-input {
  border: 2px solid rgba(20,23,210,1);
  border-radius: 4px, 0 ,0, 4px;
  background: rgba(19, 19, 19, 0.699);
  color:#fff;
  outline: none;
  padding: 10px;
  padding-right: 20px;
}
#task-input ::placeholder {
  color: #fff;

}

.todo-button {
  border:none;
  border-radius: 0% 5px 5px 0%;
  background: linear-gradient(53deg, rgba(20,23,210,1) 0%, rgba(56,182,255,1) 100%);
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.tiles {
  min-width: 50%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.todo-card {
  background: rgba(19, 19, 19, 0.699);
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  min-height: 400px;
  justify-content: center;
  max-height: 500px;
}
.timer-card {
  background: rgba(19, 19, 19, 0.699);
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  min-height: 400px;
  justify-content: center;
  max-height: 500px;
  max-width: 370.83px;
}
#timer-message {
  color: #fff;
  margin: auto;
}
.Pomo-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 400px;
}
.timer-button {
  flex:1;
  outline: none;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(53deg, rgba(20,23,210,1) 0%, rgba(56,182,255,1) 100%);
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 30px;
}
.timer-button :hover {
  border: 2px solid #fff;
}
.clock {
  display: flex;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.signout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.signout button {
  border: none;
  background: linear-gradient(53deg, rgba(20,23,210,1) 0%, rgba(56,182,255,1) 100%);;
}
.signout button :hover {
  border: 2px solid #fff;
}
/* .calendar-card {
  background: rgba(19, 19, 19, 0.699);
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  min-height: 400px;
  justify-content: center;
  max-height: 100vh;
} */
.dashboard {
  min-width: 100vw;
}
